.btn{
    width: 90px;
    height: 30px;
    margin: 0 5px;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 10px;
}
.btn:hover{
    background-color: green;
    color: white;
}

.btnAll{
    background-color: #999999;
    width: 90px;
    height: 30px;
    margin: 0 5px;
    font-size: 20px;
    transition: 0.3s;
    border-radius: 10px;
}

.btnAll:hover{
    background-color: green;
    color: white;
}

